.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-left {
    background-color: #fff;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login-right {
    background-color: #697BFF;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login-container {
    padding: 30px 0px;
}

.login-form {
    width: 100%;
}

.login-form p {
    color: #545563;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 32px;
}

.login-form-title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    padding-top: 120px;
    display: block;
    color: #2B2B43;
}

.login-email span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: block;
    color: #83859C;
    margin-bottom: 5px;
}

.login-email {
    padding-bottom: 30px;
}

.login-password span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: block;
    color: #83859C;
    margin-bottom: 5px;
}

.login-email input {
    background-color: transparent;
    width: 100%;
    padding: 10px 13px;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
}

.login-password input {
    background-color: transparent;
    width: 100%;
    padding: 12px 12px;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
}

.login-check {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.login-check label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2B2B43;
}

.login-check input {
    height: 20px;
    width: 20px;
    color: #2B2B43;
    margin-right: 12px;
}

.login-confirm {
    background: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    height: 44px;
    width: 100%;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.3s;
}

.login-confirm:hover {
    background: #2d40eb;
}

.login-forgot {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #4E60FF;
}