.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-left {
    background-color: #fff;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login-right {
    background-color: #697BFF;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login-container {
    padding: 30px 0px;
}

.login-form {
    width: 100%;
}

.login-form p {
    color: #545563;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 32px;
}

.login-form-title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    padding-top: 120px;
    display: block;
    color: #2B2B43;
}

.login-email span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: block;
    color: #83859C;
    margin-bottom: 5px;
}

.login-email {
    padding-bottom: 30px;
}

.login-password span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: block;
    color: #83859C;
    margin-bottom: 5px;
}

.login-email input {
    background-color: transparent;
    width: 100%;
    padding: 12px 0px 12px 12px;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
}

.login-password input {
    background-color: transparent;
    width: 100%;
    padding: 12px 0px 12px 12px;
    border: 1px solid #C7C8D2;
    border-radius: 8px;
}

.login-check {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.login-check label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2B2B43;
}

.login-check input {
    height: 20px;
    width: 20px;
    color: #2B2B43;
    margin-right: 12px;
}

.login-confirm {
    background: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    height: 44px;
    width: 100%;
    outline: none;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.3s;
    cursor: pointer;
}

.login-confirm:hover {
    background: #2d40eb;
}

.login-forgot {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #4E60FF;
    margin-top: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.login-rel-pass span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    margin-top: 100px;
}

.login-signUp {
    font-weight: 700;
    font-size: 14px;
    color: #4E60FF;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.login-rel-pass {
    text-align: center;
}

.login-rel__title {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 16px;
    cursor: default;
}

.login-rel__subtitle {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    display: block;
    cursor: default;
}

.login-right-container {
    text-align: center;
    padding: 30px 0px;
    width: 100%;
}

@media screen and (max-width: 1310px) {
    .login-right {
        display: none;
    }
    .login-left {
        width: 100%;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    bottom: 0px;
}

.swiper-pagination-bullet-active {
    background: #FFFFFF !important;
}

.forgot-modal__content {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background: #fff;
    width: 450px;
    height: 640px;
    border-radius: 6px;
    z-index: 100;
}

.forgot-modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.74);
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 99;
    display: none;
}

.forgot-modal__active {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.74);
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: 99;
    display: block;
    transition: 0.4s;
}

.forgot-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forgot-modal__header h1 {
    font-size: 25px;
    font-weight:700;
}

.close__modal {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.forgot-modal__window {
    padding: 20px;
}